.logo {
    background-color: white;
    width: 75px;
    height: auto;
}

.form {
    display: flex;
}
.form-control {
    border: 5px solid white;
    border-radius: 3px;
}
.btn {
    background-color: #267b8d;
    border: 5px;
    border-radius: 10px;
    color: white;
}

.btn:hover {
    background-color: #0f525f !important;
    color: white !important;
}

#boton-registro {
    border-radius: 10px;
    background-color: white;
    color: #267b8d;
    font-weight: bold;
}

#boton-inicio {
    border-radius: 10px;
    background-color: white;
    color: #267b8d;
    font-weight: bold;
}

#botonera {
    background-color: #267b8d;
    color: white;
    z-index: 1;
    border-radius: 10px;
}

header {
    height: 500px;
    background-image: url("./doc/img/slide.png");
    background-size: cover;
}
